<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Calorie Counter</h1>
        </div>
        <p class="text-center">Calorie Counter helps you keep track of your caloric intake.</p>
    </div>
</div>
<content layout="row">
    <div flex style=" margin:10px;">
        <h2>Record Meals</h2>
        <p class="text-primary">Record your meals.</p>
    </div>
    <div flex style="margin:10px;">
        <h2>Set Goals</h2>
        <p class="text-primary">Set a target daily calorie intake.</p>
    </div>
    <div flex style="margin:10px;">
        <h2>Filter Results</h2>
        <p class="text-primary">Filter your meals by date and by time of day.</p>
    </div>
</content>
