<div ng-init="getMeals()">
    <div layout="row" layout-sm="column" layout-align="center center" ng-show="data.loading">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <md-list flex>
        <md-subheader class="md-no-sticky">All Meals</md-subheader>
        <md-list-item flex class="md-whiteframe-z1" style="padding:10px;margin:10px;background-color:lightblue" ng-repeat="meal in meals">
            <p class="md-no-sticky">{{meal.monthNameShort}} {{meal.day}}, {{meal.year}}</p>
            <p class="md-no-sticky">{{meal.numberOfCalories}}</p>
            <p class="md-no-sticky">{{meal.name}}</p>
            <div flex>
                <md-button aria-label="Edit" class="md-icon-button">
                    <ng-md-icon icon="edit" style="fill:#23B9A3;" ng-click="go('/meals-edit/'+meal.mealId)"></ng-md-icon>
                </md-button>
                <md-button aria-label="Delete" class="md-icon-button">
                    <ng-md-icon icon="delete" style="fill:#23B9A3;" ng-click="deleteMeal(meal.mealId)"></ng-md-icon>
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</div>